.Leftsidebar {
    width: 21%;
    padding: 1rem;
    border-radius: 10px;
}
.sidebarlinkitem{
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    .rightIcons {
        display: none;
    }
    .container {
       padding:0;
    }
    .hamburger {
        display: block;
        margin-left: 1rem;
    }

    .searchInput {
        display: none;
    }
.sicon{
    display: none;
}
    .searchicon {
        display: block;
    }

    .mainFeed {
        width: 100%;
    }

}
@media screen and (max-width:412px){
     .rightIcons {
        display: none;
    }
    .container {
       padding:0;
    }
    .hamburger {
        display: block;
        margin-left: 1rem;
    }
.Leftsidebar{
    display: none;
}
    .searchInput {
        display: none;
    }

    .searchicon {
        display: block;
    }

    .mainFeed {
        width: 100%;
    }

}