.container {
  border-radius: 10px;
  background-color: #fffffe;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
   width: 50%;
    margin: 1rem 8vw;
    height: 100vh;
}

.banner {
  position: relative;
}

.bannerImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  bottom: -60px;
  left: 20px;
}

.content {
  padding: 70px 20px 20px 20px;
}

.nameSection h2 {
  margin: 0;
  font-size: 22px;
}

.pronouns {
  font-weight: normal;
  font-size: 20px;
  color: gray;
  margin-left: 10px;
}

.description {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

.location {
  font-size: 18px;
  color: #666;
}

.connections {
  font-size: 13px;
  font-weight: bold;
  margin-top: 4px;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button {
  padding: 6px 12px;
  border: 1px solid #999;
  border-radius: 20px;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background: #f3f3f3;
}

.open {
  background-color: #0a66c2;
  color: white;
  border: none;
}

.infoBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.infoBox {
  background: #edf3f8;
  padding: 10px 15px;
  border-radius: 8px;
  flex: 1;
  min-width: 280px;
}

.infoBox p {
  margin: 5px 0;
  font-size: 13px;
}

.link {
  color: #0a66c2;
  font-size: 13px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.sidebar {
    width: 28%;  
    border-radius: 10px;
    margin-top: 1rem;
}