.createPostBox {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
}

.postInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    /* Tailwind's gray-300 */
    border-radius: 6px;
    font-size: 14px;
}

.buttonGroup {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    justify-content: space-around;
}

.buttonGroup button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 4px 8px;
}
.profileInput{
    display: flex;
    align-items: center;
}